.form-group em {
    visibility: hidden !important;
    display: none !important;
}

em.invalid-feedback {
    visibility: hidden !important;
    display: none !important;
}

/* campanhas */
.campanha-theme {
    background: rgb(237, 175, 0);
    background: linear-gradient(
        90deg,
        rgba(237, 175, 0, 1) 0%,
        rgba(249, 207, 37, 1) 35%
    );
}

/* Criar Campanha */
.bs-multiselect option {
    width: 100%;
}

.multiselect-container li a label {
    display: block;
    padding: 0.438rem 1.25rem;
}
.multiselect-container li a {
    padding: 0px !important;
}

.btn-item-filtro {
    margin-bottom: 10px !important;
    margin-left: 5px !important;
    margin-right: 5px !important;
    text-align: left;
}

.wizard-filtros,
.bootstrap-tagsinput {
    background-color: transparent !important;
    border: none !important;
}

/* COLORS BTN */
.badge-orange,
.btn-orange {
    background-color: #f58742;
    color: #fff;
}

.badge-orange:hover,
.btn-orange:hover {
    color: #fff;
}

.hidden-components {
    display: none !important;
}

/* .msg-info-zero-results{

} */
.nav-tabs-left .tab-content {
    min-height: 250px;
}

.nav-tabs li a {
    /* border-bottom:1px solid navy !important; */
}
.switcher * {
    cursor: pointer !important;
}

.card-campanha,
.card,
.nav-tabs-left > .tab-content,
.nav-tabs-top > .tab-content {
    -webkit-box-shadow: 3px 3px 5px 0px rgba(224, 224, 224, 1);
    -moz-box-shadow: 3px 3px 5px 0px rgba(224, 224, 224, 1);
    box-shadow: 3px 3px 5px 0px rgba(224, 224, 224, 1);
}

#layout-sidenav {
    -webkit-box-shadow: 3px 3px 5px 0px rgba(180, 180, 180, 1);
    -moz-box-shadow: 3px 3px 5px 0px rgba(180, 180, 180, 1);
    box-shadow: 3px 3px 5px 0px rgba(180, 180, 180, 1);
}

.sidenav.bg-blue .sidenav-item.active > .sidenav-link:not(.sidenav-toggle) {
    background-color: #4a367d !important;
}

.card-body button {
    margin-bottom: 5px;
}

.thumbnail-campanha img {
    width: 70px;

    /* float: right;
    position: relative; */
}
/* modal lightbox */
/* .lightbox {
    z-index: 1041;
}
.small-img {
    width: 100px;
    height: 100px;
} */

/* SORTEIO */
#modals-sorteio-regiao .modal-header {
    color: #fff;
    background-color: #1762ad;
}

.frame-sorteio {
    /* background-color: #ffffff; */
    padding: 50px;
    padding-top: 10px;
    padding-bottom: 10px;
    width: 100%;
    height: 100%;
    border-radius: 5px;
}
.dataTables_wrapper .dataTables_scroll div.dataTables_scrollBody {
    overflow-y: hidden !important;
    overflow-x: hidden !important;
}

.border-table-sorteio {
    background-color: #000;
    padding: 5px;
    padding-top: 1px;
    padding-bottom: 1px;
    width: 100%;
    height: 100%;
    border-radius: 15px;

    -webkit-box-shadow: 3px 3px 5px 0px rgba(180, 180, 180, 1);
    -moz-box-shadow: 3px 3px 5px 0px rgba(180, 180, 180, 1);
    box-shadow: 3px 3px 5px 0px rgba(180, 180, 180, 1);
}

#datatables-sorteio-regiao {
    background-color: #ffffff;

    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    /* border: 7px solid #000000; */
}

.dataTables_scrollHead {
    display: none;
}
#datatables-sorteio-regiao thead tr {
    border-radius: 5px;
}
#datatables-sorteio-regiao thead tr th {
    border-top: none;
}
.frame-sorteio .dataTables_scrollBody {
    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.btn-regiao-sorteio,
.btn-premiados-regiao,
.btn-premiados-todos {
    margin: 10px;
}
.frame-sorteio .seta-sorteio {
    position: absolute;
    display: block;
    width: 40px;
    height: 40px;
    z-index: 999;

    display: none;

    /* animation-iteration-count: 2; */

    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;

    -webkit-box-shadow: 2px 2px 2px 0px rgba(150, 150, 150, 1);
    -moz-box-shadow: 2px 2px 2px 0px rgba(150, 150, 150, 1);
    box-shadow: 2px 2px 2px 0px rgba(150, 150, 150, 1);
}
.seta-sorteio img {
    width: 40px;
    height: 40px;
}

.info-qtd-cupons-sorteio {
    color: #fff;
    text-align: center;
    height: 50%;

    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.info-qtd-cupons-sorteio .qtd-sorteados {
    font-size: 50px;
    font-weight: 400;
    text-align: center;
    display: inline;
}

.box-info-sorteio {
    background-color: #800080;
    float: left;
    width: 200px;

    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
}

.box-play-button {
    padding: 10px;

    height: 100px;

    text-align: center;
}
.box-play-button img {
    position: relative;
    width: 100px;
}

.qtd-sortear {
    font-size: 30px;
}

.btn-sortear {
    border-radius: 20px;
    -moz-border-radius: 20px;
    -webkit-border-radius: 20px;

    font-size: 25px;

    background-color: #8a008a;
    color: #ffff00;
}
.btn-sortear:hover {
    background-color: #700070;
}

.btn-sortear:active {
    background-color: #630063;
}

.btn-filtra-campanha {
    cursor: pointer;
}
.item-campanha {
    display: none;
}

.sidenav-header {
    color: rgba(255, 255, 255, 0.6) !important;
}
 a.dropdown-item{
    color: #352460;
}
.thumb-img a div {
    border-radius: 2px;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;

    -webkit-box-shadow: 3px 3px 5px 0px rgba(210, 210, 210, 1);
    -moz-box-shadow: 3px 3px 5px 0px rgba(210, 210, 210, 1);
    box-shadow: 3px 3px 5px 0px rgba(210, 210, 210, 1);
}

#tbody-sorteio tr {
    animation-duration: 3s;
    animation-delay: 2s;
    animation-iteration-count: infinite;
}

.modal-body,
.frame-sorteio,
.border-table-sorteio,
.modal-content {
    transition: all 0.3s linear;
}

/* result sorteio */

#datatables-resultado-sorteio-regiao {
    background-color: #ffffff;

    border-radius: 10px;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    /* border: 7px solid #000000; */
}

.box-table-resultado, .header-box-resultado {
    display: none;
}

.col-header-box-sorteio {
    text-align: center;
}

.header-box-sorteio, .header-box-resultado{
    font-size: 2rem;
    color: #4b2b75;
    font-weight: bold;
}


/* end result sorteio */



.modal-body .table tbody tr td.center {
  text-align: center;
}

.modal-icon-plus,
.modal-icon-minus {
  font-size: 12px;
}

.table th,
.table td {
  vertical-align: middle;
}

.modal-icon-plus {
  color: #0a77e8;
}

.modal-icon-minus {
  color: #fc5a5c;
}

#layout-sidenav {
  /* background-color: #1762ad !important; */
  background-color: #375abb !important;

}

.sidenav.bg-blue .sidenav-item.active>.sidenav-link:not(.sidenav-toggle) {
  background-color: #375abb !important;
}

.sidenav.bg-blue .sidenav-item.open:not(.sidenav-item-closing)>.sidenav-toggle,
.sidenav.bg-blue .sidenav-item.active>.sidenav-link {
  color: #fff;
}

.sidenav.bg-dark .sidenav-link,
.sidenav.bg-dark .sidenav-horizontal-prev,
.sidenav.bg-dark .sidenav-horizontal-next {
  color: #cecece;
  background-color: #375abb !important;
}

.bg-darken {
  background-color: #375abb !important; 
  /* // 2f1e57  391e61 */
  color: #cecece !important;

}

.bg-darken a {
  color: #fff;
}

.app-brand-logo.demo {
  display: -ms-flexbox;
  display: flex;
  width: 45px;
  height: 45px;
  border-radius: 50%;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

div.nav-tabs-left>ul>li a.active {
  font-weight: bold;

}


.default-style .flatpickr-calendar.open {
  z-index: 10000 !important;

}

.invalid {
  visibility: hidden !important;
}



.modal-body,
.modal-footer,
.modal-header {
  padding: 1.0em !important;
}


.bold {
  font-weight: 500;
}


.accordion-link{
    display: block;
}