@media print {
	.visible-print { display: inherit !important; }
	.hidden-print  { display: none !important; }

	body {
        font-family: arial;
        
    }
    @page{
        size: 54mm 85mm;
        margin: 0mm;       
    }

    .input-foto{
        position: absolute !important;
        top: 45mm !important;
        left: 24mm !important;
        right: 24mm !important;
        width: 28mm !important;
        height: 36mm !important;
    }

    .input-nome{
        position: absolute !important;
        top: 95mm !important;
        left: 9mm !important;
        right: 9mm !important;
        width: 60mm !important;
    }

    .p-form input{
        height: 11mm;
        padding-left: 3mm;
        font-size: 9pt;
        /* border: none; */
    }
}